dictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://localhost/dictionary"
           xmlns="http://localhost/dictionary"
           elementFormDefault="qualified">

    <xs:element name="dictionary">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entry" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="english" type="xs:string"/>
                            <xs:element name="italian" type="xs:string"/>
                            <xs:element name="romanian" type="xs:string"/>
                            <xs:element name="spanish" type="xs:string"/>
                            <xs:element name="german" type="xs:string"/>
                            <xs:element name="french" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
